/*-------- main settings starts-------- */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: roboto;
    src: url(../font/Roboto-Regular.ttf);
}

body {
    background: #0F172A;
    font-family: roboto;
    box-sizing: border-box;
    width: 1440px;
    height: 100vh;
}

/*-------- main settings ends---------- */

/*-------- header section starts------- */

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav a {
    color: #F8FAFC;
    text-decoration: none;
}

/*-------- header section ends--------- */

/*-------- main section1 starts-------- */

.main {
    padding: 94px 145px;
}

.hfirst, .hsecond {
    font-size: 48px;
    line-height: 56px;
    color: #F8FAFC;
}

.spancolor {
    color:#16B8F3
}

.section {
    display: flex;
    gap: 41px;
    flex-direction: column;
    padding-top: 83px;
}

.article {
    background: rgba(30, 41, 59, 0.4);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.article-info h3 {
    font-size: 30px;
    line-height: 35px;
    color: #F8FAFC;
    margin-bottom: 25px;
}

.article-info p {
    font-size: 20px;
    line-height: 23px;
    color: #CBD5E1;
    margin-bottom: 14px;
}

.img1 {
    margin: 34px 44px 34px 8px;
}


.img2 {
    margin: 45px 76px 45px 17px;
}


.img3 {
    margin: 54px 106px 54px 27px;
}

/*-------- main section ends----------- */


/*-------- section2 starts------------- */


.hsecond {
    padding-top: 95px;
    padding-bottom: 82px;
}

.section2 {
    display: flex;
    gap:20px;
}

.article2 {
    text-align: center;
    background: #1E293B;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.article2 h3 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #F8FAFC;
    padding-top: 10px;
}

.article2 img {
    width: 100%;
}

.date {
    font-size: 20px;
    line-height: 23px;
    color: #9CA3AF;
    padding-top: 15px;
}

.text {
    font-size: 20px;
    line-height: 23px;
    color: #e7ebf0;
    padding: 14px 14px 71px 14px;
}

/*-------- section2 ends--------------- */


/*-------- footer section starts------- */


.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    border-top: 1px solid #CBD5E1;
    align-items: center;
}

.social {
    display: flex;
    gap: 20px;
}

.copyright {
    font-size: 20px;
    line-height: 23px;
    color: #CBD5E1;
}

/*-------- footer section ends==------- */